# Config file for the mockspec pipeline
#
D9o2                                     # Gal IDS  (list)
1.002                                	 # Expansion parameters  (list)
100                                  	 # Number of LOS (no list)
0				     	 # Galaxy inclination angle  (no list)
0.0             		     	 # EW cut  (no list)
30.0				         # SNR  (no list)
1                                        # Number of processors to use
/home/matrix3/jrvander/autopipetest/  	 # Root location
/home/matrix3/jrvander/requiredfiles/    # Location of required control files
#######################
# Ion    [X/H]    Instrument
HI       0.0      COSFUV
MgII     0.5      COSNUV
CIV      0.0      COSFUV
OVI      0.0      COSFUV
