# Config file for the mockspec pipeline
#
D9o2                                     # Gal IDS  (list)
1.002                                	 # Expansion parameters  (list)
1000                                  	 # Number of LOS (no list)
1.5                                      # Maximum impact parameter in Rvir
0				     	 # Galaxy inclination angle  (no list)
0.0             		     	 # EW cut  (no list)
30.0				         # SNR  (no list)
1                                        # Number of processors to use
/home/matrix3/jrvander/autopipetest/  	 # Root location
5                                        # Percent EW change used by sigcells
#######################
1                       # Run rates
1                       # Generate lines of sight
1                       # Run cellfinder
1                       # Run idcells
1                       # Run los7
1                       # Run spcsynth
1                       # Run sysanal
1                       # Run cullabs
1                       # Run locatecells
1                       # Run summaries
1                       # Run TPCF
1                       # Run plotting
#######################
0                       # TPCF - Min EW
10                      # TPCF - Max EW
5                       # TPCF - Min impact paramter [kpc]
200                     # TPCF - Max impact paramter [kpc]
10                      # TPCF - Bin size of TPCF [km/s]
0.1                     # TPCF - Fraction of sample to use in bootstrap
1000                    # TPCF - Number of bootstraps to perform
#######################
# Ion    [X/H]    Instrument
HI       0.0      COSFUV
MgII     0.5      COSNUV
CIV      0.0      COSFUV
OVI      0.0      COSFUV
