# Config file for the mockspec pipeline
#
D9o2                                     # Gal IDS  (list)
1.002                                	 # Expansion parameters  (list)
1000                                  	 # Number of LOS (no list)
1.5                                      # Maximum impact parameter in Rvir
0				     	 # Galaxy inclination angle  (no list)
0.0             		     	 # EW cut  (no list)
30.0				         # SNR  (no list)
10                                       # Number of processors to use
/home/matrix3/jrvander/autopipetest/  	 # Root location
5                                        # Percent EW change used by sigcells
#######################
0                       # Run rates
0                       # Generate lines of sight
0                       # Run cellfinder
0                       # Run idcells
1                       # Run los7
1                       # Run spcsynth
1                       # Run sysanal
1                       # Run cullabs
0                       # Run locatecells
#######################
# Ion    [X/H]    Instrument
HI       0.0      COSFUV
MgII     0.5      COSNUV
CIV      0.0      COSFUV
OVI      0.0      COSFUV
